/*                           About Me                        */

body {
  min-width: 1200px;
}

.banner {
  border-bottom: #D16333 1px solid;
  color: #5E1E02;
  text-transform: uppercase;
  text-align: center;
  padding: 75px; 
}

.about-image {
  width: 560px;
  height: 490px;
  background-image: url(../images/about-image.jpg);
  background-size: cover;
  background-position: -150px 0;
  display: inline-block;
  margin: 20px;
}

.about-description {
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
  max-width: 560px;
  color: #4A4A4A
}

.about-description h5 {
  padding-top: 20px;
  padding-bottom: 5px;
}

.contact-form {
  color: #D16333;
  text-align: center;
  margin: 30px 0;
}

form {
  display: inline-block;
  align-content: center;
}

label {
  display: block;
  text-align: left;
  margin-top: 20px;
  font-size: 14px;
  text-indent: 13px;
}

input,
textarea {
  display: block;
  border-radius: 10px;
  width: 400px;
  height: 25px;
  border: 2px solid #5E1E02;
  margin-top: 10px;
}

textarea {
  height: 150px;
}

.submit {
  width: 100px;
  height: 30px;
  background: #5E1E02;
  color: #FFC2A8;
  /*color: #FF9466;*/
  font-weight: 300;
  margin: 10px 0;
  border: none;
  -webkit-transition: All 0.3s ease;
     -moz-transition: All 0.3s ease;
       -o-transition: All 0.3s ease;
      -ms-transition: All 0.3s ease;
          transition: All 0.3s ease;
}

.submit:hover {
  background: #8F2B00;
}
















