/*                           About Me                        */

.banner {
  border: #D16333 1px solid;
  border-top: none;
  color: #5E1E02;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  padding: 75px; 
}















