/*			shared styling for product pages		*/

body {
	min-width: 1050px;
}

/* hidden added to cart bloop */

.shopping-cart {
	color: #fff;
	background: #5E1E02;
	width: 200px;
	border-radius: 20px;
	padding: 5px 0;
	position: absolute;
	top: 165px;
	left: 810px;
	opacity: 0;
}

.shopping-cart-part {
	display: inline;
	margin-left: 5px;
}

#cart-total {
	margin-left: 40px;
}

.shopping-cart img {
	position: relative;
	height: 1.1rem;
	top: 2px;
	margin-left: 21px;
}

.description-image {
	width: 500px;
	height: 641px;
	display: inline-block;
	margin: 0 20px;
}

.pic-ordering {
	width: 1050px;
	margin: 0 auto;
	padding: 60px 0;
	display: block;
}

.item-ordering {
	width: 420px;
	display: inline-block;
	margin: 0 0 0 60px;
	vertical-align: top;
	color: #5E1E02;
}

.product-name {
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 2rem;
}

.price {
	color: hsla(18, 96%, 19%, 0.75);
}

.item-info {
	display: flex;
	justify-content: space-between;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0 2px;
}

.item-info h4 {
	font-size: .8rem;
}

/*	Form styling: */

.drop-menu {
	position: relative;
}

.drop-menu select {
	/* style reset for <select/> tags */
	-webkit-appearance: none;
	   -moz-appearance: none;
			 appearace: none;
	border: 1px solid #5E1E02;
	background: #fff;
	border-radius: 0;
	width: 420px;
	font-size: 1.2rem;
	padding: 15px 10px;
	margin-top: 30px;
	margin-bottom: 10px;
	color: #5E1E02;
}

#drop-menu-icon {
	position: absolute;
	pointer-events: none;
	top: 52px;
	right: 16px;
	height: 18px;
	width: 22px;
	background-image: url(../svg/red-drop-menu-icon.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

.pattern-only-checkbox {
	font-weight: 400;
	font-size: 1.2rem;
	margin: 30px 10px 25px 10px;
	display: flex;
	justify-content: space-between;
}

.pattern-only-checkbox input {
	/* style reset for checkbox */
	-webkit-appearance: none;
	   -moz-appearance: none;
			 appearace: none;
	height: 28px;
	width: 28px;
	border: 1px solid #5E1E02;
	position: relative;
	top: -7px;
	right: -1px;
}

input[type='checkbox']:checked {
    background: url(../svg/checked.svg);
    background-position: contain;
    background-repeat: no-repeat;
}

.total-price {
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;
	border-bottom: 1px solid #5E1E02;
	margin-bottom: 20px;
}

.total-price h2 {
	font-size: 2rem;
}

.quantity-add {
	display: flex;
	justify-content: space-between;
}

.btn-part {
	display: inline;
}

input[type=number] {
	width: 2em;
}

#qty {
	color: #5E1E02;
	text-align: center;
	font-size: 1.2rem;
}

::-webkit-input-placeholder {
	color: #5E1E02;
	text-align: center;
	font-size: 1.2rem;
}

:-moz-placeholder {
	color: #5E1E02;
	text-align: center;
	font-size: 1.2rem;
}

::-moz-placeholder {
	color: #5E1E02;
	text-align: center;
	font-size: 1.2rem;
}

:-ms-input-placeholder {
	color: #5E1E02;
	text-align: center;
	font-size: 1.2rem;
}

::-ms-input-placeholder {
	color: #5E1E02;
	text-align: center;
	font-size: 1.2rem;
}

::placeholder {
	color: #5E1E02;
	text-align: center;
	font-size: 1.2rem;
}

#minus,
#plus {
	border: none;
}

#add-cart {
	-webkit-appearance: none;
	   -moz-appearance: none;
			 appearace: none;
	border: 1px solid #5E1E02;
	background: #5E1E02;
	color: #fff;
	padding: 5px 15px 4px 15px;
	font-size: 1.2rem;
	-webkit-transition: All 0.3s ease;
       -moz-transition: All 0.3s ease;
      	 -o-transition: All 0.3s ease;
      	-ms-transition: All 0.3s ease;
          	transition: All 0.3s ease;
}

#add-cart:hover {
	color: hsla(0, 0%, 100%, .8);
}

.item-description {
	width: 1010px;
	margin: 0 auto;
	color: #5E1E02;
	padding-bottom: 40px;
}

.item-description h3 {
	padding-bottom: 15px;
	border-bottom: 1px solid #5E1E02;
}

.item-description p {
	padding: 15px 0;
	line-height: 2rem;
}

#cables-hat {
	background-image: url(../images/cables-hat.jpg);
	background-size: cover;
}

#comfort-cowl {
	background-image: url(../images/comfort-cowl.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}

#big-pom-hat {
	background-image: url(../images/big-pom-hat.jpg);
	background-size: cover;
}

#twist-headband {
	background-image: url(../images/twist-headband.jpg);
	background-size: cover;
	background-position: -350px 0;
}

#popcorn-cowl {
	background-image: url(../images/popcorn-cowl.jpg);
	background-size: cover;
	background-position: -200px 0;
}

#chevron-bowtie {
	background-image: url(../images/colorwork-bowtie.jpg);
	background-size: cover;
	background-position: -220px 0;
}

#bobble-cowl {
	background-image: url(../images/bobble-cowl.jpg);
	background-size: cover;
	background-position: -360px 0;
}

#wave-mitts {
	background-image: url(../images/wave-mitts.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}