/*					tutorials						*/

body {
	min-width: 1000px;
}

.filters {
	display: flex;
	justify-content: space-between;
	padding: 40px 90px 0 90px;
}

.drop-menu {
	position: relative;
}

.drop-menu select {
	/* style reset for <select/> tags */
	-webkit-appearance: none;
	   -moz-appearance: none;
			 appearace: none;
	border: 1px solid #D16333;
	color: #D16333;
	background-color: #fff;
	padding: 3px 28px 3px 3px;
	font-weight: 200;
}

#drop-menu-icon {
	position: absolute;
	pointer-events: none;
	top: 9px;
	right: 10px;
	height: 7px;
	width: 13px;
	background-image: url(../svg/drop-menu-icon.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

#tutorial-search {
	/* style reset for the search input tag */
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
	border: none;
	border-bottom: 1px solid #D16333;
}

.search {
	position: relative;
	color: #D16333;
}

::-webkit-input-placeholder {
	color: #D16333;
}

:-moz-placeholder {
	color: #D16333;
}

::-moz-placeholder {
	color: #D16333;
}

:-ms-input-placeholder {
	color: #D16333;
}

::-ms-input-placeholder {
	color: #D16333;
}

::placeholder {
	color: #D16333;
}

#search-icon {
	display: inline-block;
	position: absolute;
	top: 4px;
	right: 5px;
	height: 13px;
	width: 14px;
	background-image: url(../svg/search-icon.svg);
}

.image-row {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 
	margin: 40px 40px;
}

.image-row a {
	position: relative;
	color: #5E1E02;
}

.thumbnail {
	height: 281px;
	width: 281px;
	margin-bottom: 20px;
}

.purl-soho {
	position: absolute;
	height: 54px;
	width: 137px;
	opacity: .8;
	top: 0;
	left: 0;
}

.bottom-row {
	margin-bottom: 80px;
}
